<main style="background-color:rgb(255, 255, 255); height: 93%; position: fixed; top: 125px; width:83%">
      <div>
        <app-topnav></app-topnav>
        <div style="height: 100%;">
          <app-innernav></app-innernav>
          <!-- GRID SYSTEM -->
          <div class="row">
            <!-- BACKLOG LIST -->
            <!-- CREATE PROJECT CARD -->
            <div class="col" style="width: 100%">
              &nbsp;
              <div class="card border-light mb-3" style="width: 100%; border: none">
                <div class="card-header" style="width:100%; background-color:#ffffff; color:rgb(27, 27, 27);">Feedback History
                  &nbsp;&nbsp;
                </div>
                <div class="card border-light mb-3" style="width: 95%;margin-left: auto; margin-right: auto; border: none;">
                  &nbsp;&nbsp;
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-9">Problem with the definition of your project</div>
                        <div class="col"  style="margin-left:auto; margin-right:auto; cursor: pointer;">
                            <img src="../../../../../../../assets/media/logos/launch_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                &nbsp;&nbsp;&nbsp;
              </div>
            </div>
            <div class="col-10"  style="padding-left:none; display: flex; flex-grow: grow;">
              <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"  style="padding-right: 0px; margin-left: 0px; height: 750px;overflow: scroll; position: relative; width:100px">
                <ul class="list-group">
                  <li class="list-group-item" style="margin: 20px; border:none; border-radius: 50px; width: 50px; height:50px; text-align: center; margin-left: auto; margin-right: auto;  background-color: transparent;">
                    <img  src="../../../../../../../assets/media/icons/write/description_purple_24dp.svg" alt="New Event" width="30px" height="30px" class="project-event-appointment" style="text-align:center;cursor: pointer; transition:  transform 1s; user-select: none;"></li>
                  <li class="list-group-item" style="margin: 20px; border:none; border-radius: 50px; width: 50px; text-align: center; margin-left: auto; margin-right: auto;  background-color: transparent;">
                    <img  src="../../../../../../../assets/media/icons/message/email_blue_24dp.svg" alt="New Event" width="30px" height="30px" class="project-event-event" style="text-align:center;cursor: pointer; transition:  transform 1s; user-select: none;"  ></li>
                  <li class="list-group-item" style="margin: 20px; border:none; border-radius: 50px; width: 50px; text-align: center; margin-left: auto; margin-right: auto;  background-color: transparent;">
                    <img src="../../../../../../../assets/media/icons/goal_flag_FILL1_wght400_GRAD0_opsz48.svg" alt="New Event" width="30px" height="30px" class="project-event-goal" style="text-align:center;cursor: pointer; transition:  transform 1s; user-select: none;"  ></li>
                </ul>
              </div>
              <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"  style="padding-right: 0px; margin-left: 0px; height: 750px;overflow: scroll; position:relative; width:100%">
                <ul class="list-group" style="width:30%;">
                  <caption style="background-color:black; text-align: center;user-select: none;">
                    Goal to which we are replying to
                  </caption>
                  <li class="list-group-item" style="border-left: none; border-right: none;">
                    <h3 class="card-title" style="color:#919191; font-size: 11px; margin: 0 0 -5px;">
                      Goal Title
                    </h3>
                    <pre #createGoalInputDecription class="input_table" id="exampleFormControlTextarea1" style="white-space: pre-wrap;       /* Since CSS 2.1 */
                    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                    white-space: -pre-wrap;      /* Opera 4-6 */
                    white-space: -o-pre-wrap;    /* Opera 7 */
                    word-wrap: break-word;       /* Internet Explorer 5.5+ */"></pre>
                  </li>
                  <li class="list-group-item" style="border-left: none; border-right: none;">
                    <h3 class="card-title" style="color:#919191; font-size: 11px; margin: 0 0 -5px;">
             
                    </h3>
                  </li>
                  <li class="list-group-item" style="border-left: none; border-right: none;">
                    <h3 class="card-title" style="color:#919191; font-size: 11px; margin: 0 0 -5px;">
                      End Date / Time
                    </h3>
                  </li>
                  <li class="list-group-item" style="border-left: none; border-right: none;">
                    <h3 class="card-title" style="color:#919191; font-size: 11px; margin: 0 0 -5px;">
                      Details
                    </h3>
                  </li>
                  <li class="list-group-item" style="border-left: none; border-right: none;">
                  </li>
                  <li class="list-group-item" style="border:none">An item</li>

                </ul>
              </div>
              <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"  style="padding-right: 0px; margin-left: 0px; height: 750px;overflow: scroll; position:relative; width:100%">
              </div>
            </div>

            <div class="col-10">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card" style="border:none; width:100%">
                    <div class="card-header" style="background-color: rgb(178, 231, 178);color:darkgreen; border:none; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
                      Set new goal
                    </div>
                    <caption class="bg-light" style="background-color:transparent; text-align: center;user-select: none;">
                      <div>
                        Goal to which we are replying to
                      </div>
                    </caption>
                    <div class="card-body" style="padding: 0 0 0 0;">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="card" style="border:none">
                <div class="card-header" style="background-color: rgb(178, 231, 178);color:darkgreen; border:none; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 0; border-bottom-left-radius: 0;">
                  Set new goal
                </div>
                <caption class="bg-light" style="background-color:transparent; text-align: center;user-select: none;">
                  <div>
                    Goal to which we are replying to
                  </div>
                </caption>
              </div>
              <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"  style="padding-right: 0px; margin-left: 0px; height: 750px;overflow: scroll; width:100px">
                <ul class="list-group">
                  <li class="list-group-item" style="margin: 20px; border:none; border-radius: 50px; width: 50px; height:50px; text-align: center; margin-left: auto; margin-right: auto;  background-color: transparent;">
                    <img  src="../../../../../../../assets/media/icons/write/description_purple_24dp.svg" alt="New Event" width="30px" height="30px" class="project-event-appointment" style="text-align:center;cursor: pointer; transition:  transform 1s; user-select: none;"></li>
                  <li class="list-group-item" style="margin: 20px; border:none; border-radius: 50px; width: 50px; text-align: center; margin-left: auto; margin-right: auto;  background-color: transparent;">
                    <img  src="../../../../../../../assets/media/icons/message/email_blue_24dp.svg" alt="New Event" width="30px" height="30px" class="project-event-event" style="text-align:center;cursor: pointer; transition:  transform 1s; user-select: none;"  ></li>
                  <li class="list-group-item" style="margin: 20px; border:none; border-radius: 50px; width: 50px; text-align: center; margin-left: auto; margin-right: auto;  background-color: transparent;">
                    <img src="../../../../../../../assets/media/icons/goal_flag_FILL1_wght400_GRAD0_opsz48.svg" alt="New Event" width="30px" height="30px" class="project-event-goal" style="text-align:center;cursor: pointer; transition:  transform 1s; user-select: none;"  ></li>
                </ul>
              </div>
              <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"  style="padding-right: 0px; margin-left: 0px; height: 750px;overflow: scroll;">
                <div class="card" style="width: 100%; margin-left: auto; margin-right: auto; border-radius: 0px;">
                  <ul class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
                </div>
              </div>
            </div>
            

            <div class="col-10">
              <div class="col">
                &nbsp;
                <div class="card" style="width: 18rem;" style="width: 100%;">
                  <div class="card-body" style="border:none">
                    <div style="overflow: scroll; height: 500px;">
                      <div style="width: 95%; margin-left:auto; margin-right:auto;">
                          <label for="floatingTextarea" style="padding-bottom: 0px; background-color:transparent; width:50%;z-index: 1; position:absolute;">Feedback</label>
                          <div class="form-floating">
                            &nbsp;
                            &nbsp;
                            <div class="row">
                              <div class="col" style="overflow:scroll">
                                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"  style="padding-right: 0px; margin-left: 0px; height: 750px;overflow: scroll; width:100px">
                                  <ul class="list-group">
                                    <li class="list-group-item" style="margin: 20px; border:none; border-radius: 50px; width: 50px; height:50px; text-align: center; margin-left: auto; margin-right: auto;  background-color: transparent;">
                                      <img  src="../../../../../../../assets/media/icons/write/description_purple_24dp.svg" alt="New Event" width="30px" height="30px" class="project-event-appointment" style="text-align:center;cursor: pointer; transition:  transform 1s; user-select: none;"></li>
                                    <li class="list-group-item" style="margin: 20px; border:none; border-radius: 50px; width: 50px; text-align: center; margin-left: auto; margin-right: auto;  background-color: transparent;">
                                      <img  src="../../../../../../../assets/media/icons/message/email_blue_24dp.svg" alt="New Event" width="30px" height="30px" class="project-event-event" style="text-align:center;cursor: pointer; transition:  transform 1s; user-select: none;"  ></li>
                                    <li class="list-group-item" style="margin: 20px; border:none; border-radius: 50px; width: 50px; text-align: center; margin-left: auto; margin-right: auto;  background-color: transparent;">
                                      <img src="../../../../../../../assets/media/icons/goal_flag_FILL1_wght400_GRAD0_opsz48.svg" alt="New Event" width="30px" height="30px" class="project-event-goal" style="text-align:center;cursor: pointer; transition:  transform 1s; user-select: none;"  ></li>
                                  </ul>
                                </div>
                                
                                <div class="d-flex flex-column flex-shrink-0 p-3 bg-light"  style="padding-right: 0px; margin-left: 0px; height: 750px;overflow: scroll; width:100px">
                                  
                                </div>


                                <div style="overflow: scroll; width: 95%; margin-left: auto; margin-right: auto; position:initial">
                                  <textarea readonly style="width: 100%; height: 450px; resize: none; border:none; outline: none;">
                                  </textarea>                    
                                </div>
                                <!-- <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="50" cols="1000" style="height: 550px; resize: none;"></textarea> -->
                               </div>
                              <div class="col">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="50" cols="1000" style="height: 450px; resize: none;"></textarea>
                              </div>
                            </div>

                          </div> 
                      </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">16 March 2022, Wednesday</h6>
                    <button type="button" routerLink ="" class="btn btn-primary btn-xs">Send</button>&nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
          </div>
          <!-- END GRID -->
          &nbsp;
          &nbsp;
            &nbsp;
            </div>
            &nbsp;
          </div>
      </main>
  