<div>
    <div>
        <ul style="list-style:none outside none; float:left; left:530px; position:relative; top:120px; display:inline">
            <li style="display:inline">1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
    </div>
    <div>
        <iframe src="https:/www.researcherdna.com/" style="position:fixed;width:100%; padding-left: 70px; height: 100%; padding-top: 60px; ">
        </iframe>
    </div>
</div>

