<br>
<div class="container-fluid" style="width:100%; border-left: none; border-right: none; background-color:rgb(255, 255, 255); user-select: none;  box-shadow: 2px 2px rgb(238, 238, 238);">
<!-- <div class="row" style="background-color:rgb(235, 235, 240)"></div> -->
<!-- <div class="row" style="background-image: linear-gradient(to right,rgb(201, 201, 201) , rgb(252, 82, 255))"></div> -->
  <div class="row" style="border-left: none; border-right: none; background-color:rgb(255, 255, 255); user-select: none;  box-shadow: 2px 2px rgb(238, 238, 238);">
    <div class="col-sm">
      <!-- NAV BAR TO NAVIGATE THROUGH THE PROJECTS PART -->
      <nav class="navbar navbar-expand-lg navbar-light" style="width: 30%;">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            &nbsp;&nbsp;&nbsp;
            <li data-tooltip="Back" class="nav-item">
              <a class="nav-link"  style="color:black" routerLink="/project">
                <img src="../../../../../../../assets/media/logos/arrow_back_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
            </a>
            </li>
            <li data-tooltip="Back"  class="nav-item">
              <a class="nav-link"  style="color:black" routerLink="/project-write">
                <img src="../../../../../../../assets/media/logos/description_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
            </a>
            </li>
            <li data-tooltip="Feedbacks & Chapter files"  class="nav-item">
                <a class="nav-link" routerLink="/project-status">
                <img src="../../../../../../../assets/media/logos/email_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
                </a>
            </li>
            <li data-tooltip="Calendar" class="nav-item">
              <a class="nav-link" routerLink="/project-events">
              <img src="../../../../../../../assets/media/logos/event_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px">
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-sm-10">
      <!-- TITLE OF THE SYSTEM - WHICH ALSO FUNCTIONS LIKE THE HOME BUTTON -->
      <ul class="list-group" style="width:80%; border: none; position: relative; top: 10px">
        <ng-template *ngIf="userDetails.userType==2; then supervisorTemplate; else studentTemplate_toShowStudentName">

        </ng-template>
      </ul>
    </div>
  </div>
  <ng-template #studentTemplate_toShowStudentName>
  <li class="list-group-item" style="border:none">Project Name <strong>{{projectObject.name}}</strong></li>
  </ng-template>
  <ng-template #supervisorTemplate>
  <li class="list-group-item" style="border:none; font-size: 20px;">{{projectObject.user.id}} | 
    <strong>{{projectObject.user.firstName}} {{projectObject.user.lastName}}</strong>
    | {{projectObject.name}}
  </li>
  </ng-template>
</div>


