<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 style="margin-left:auto; margin-right:auto">ResearcherDNA Blog</h1>
<br><div class="card">
    <div class="project-info-box mt-0">
        <!-- <h5>Create a Blog</h5> -->
        <!-- <hr> -->
        <form >
            <div class="title">
                <input #createBlogTitle (keyup)="validateBlogInputTitle()" #createBlogInputTitle type="text" class="form-control  input_table" placeholder="Create Blog Title..." aria-label="event name" aria-describedby="basic-addon2">   
                <div *ngIf="createBlogErrorList[0]">
                    <br>
                    <div class="alert alert-danger" role="alert" >
                      <strong>Error: </strong> Enter Blog Title
                    </div>
                  </div>
            </div>
            <br style="user-select:none">
            <div class="avatar-upload" style="user-select:none; color: grey">
                <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label  for="imageUpload"></label>Add Picture
                </div>
            </div>
            <!-- <div class="picture">
                <label  for="img">Select image:</label>
                <i class="fa fa-paperclip" aria-hidden="true">
                    <input #createBlogImage type="file" id="img" name="img" accept="image/*">
                </i>
                <button data-tooltip="Attach File"  class="btn btn-primary removeFocus " style="border-radius: 50%; background-color: white; border:none; width:50px; height: 50px;">
                    <img src="../../../../../assets/media/logos/Phaidi/attach_file_grey_24dp.svg"  width="auto" height="auto">
                    <input #createBlogImage type="file" id="img" name="img" accept="image/*">

                </button>
            </div> -->
            <br style="user-select:none">
            <div class="inputBox">
            <textarea #createBlogPost (keyup)="validateBlogInputDetails()" type="text" width="100" id="description" placeholder="Type content here..." name="" id="" cols="49" rows="7"></textarea>
                <div *ngIf="createBlogErrorList[1]">
                    <br>
                    <div class="alert alert-danger" role="alert" >
                        <strong>Error: </strong> Blog Post cannot be empty
                    </div>
                    </div>
            </div>
            <br>
            <div class="inputButton">
                <!-- <button type="submit" (click)="createNewBlogPost()" class="btn" routerLink="/blog">Post</button> -->
                <button type="submit" (click)="createNewBlogPost()" class="btn" >Post</button>

            </div>
        </form>
    </div>
</div>
<br>
<button class="btn" routerLink="/blog">Back</button>