<h1>ResearcherDNA Blog</h1>


<img src="tu.png" alt="">

<br><div class="card" >
    <div class="project-info-box mt-0">
        <h5>Create a Blog</h5>
        <hr>
        

        <form >

            <div class="title">
                <input id="name" type="text" placeholder="Title">
            </div>
            <br>

            <div class="picture">
                <label for="img">Select image:</label>
                <input type="file" id="img" name="img" accept="image/*">
            </div>
            <br>

            <div class="inputBox">
                <textarea type="text" width="100" id="description" placeholder="Type content here..." name="" id="" cols="49"
                    rows="7"></textarea>
            </div>

            <br>
            <div class="inputButton">
                <button type="submit" class="btn" routerLink="/blog">Post</button>
            </div>
        </form>
    </div>
</div>
<br>
<button class="btn" routerLink="/blog">Back</button>