<script>
    var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
    var collapseList = collapseElementList.map(function (collapseEl) {
        return new bootstrap.Collapse(collapseEl)
    })
</script>
<app-new-inner-header></app-new-inner-header>
<app-admin-dash-top-nav></app-admin-dash-top-nav>
<div
    style="position:fixed; top:195px; left:70px; padding-left: 30px;padding-right:100px; width:100%; height:100%; overflow: scroll; padding-bottom: 220px;">
    <h1>Manage Students</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" style="font-weight:lighter">Stud ID</th>
                <th scope="col" style="font-weight:lighter">Full Name</th>
                <th scope="col" style="font-weight:lighter">Email</th>
                <th scope="col" style="font-weight:lighter">Current Supervisor</th>
                <th scope="col" style="font-weight:lighter">Change Supervisor</th>
                <!-- <th scope="col" style="font-weight:lighter">Research Name</th>
                <th scope="col" style="font-weight:lighter">Research Description</th> -->
                <th scope="col" style="font-weight:lighter"></th>
                <th scope="col" style="font-weight:lighter"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students2; let i = index">
                <td>
                    {{student.id}}
                </td>
                <td>{{student.firstName + " " + student.lastName}}</td>
                <td>
                    {{student.email}}
                </td>
                <td>
                    <p *ngIf="student.supervisor == 0" style="color:red">{{parseSupervisorJSON(student.supervisor)}}</p>
                    <p *ngIf="student.supervisor != 0" style="color:green">{{parseSupervisorJSON(student.supervisor)}}</p>
                </td>
                <td>
                    <div class="inputBox" class="form-input" style="width:100%">
                        <!-- <span style="font-size:12px; color:grey">Change / Assign Supervisor</span> -->
                        <select #optionValue id="optionValue" class="form-input" 
                            style="width:100%; height: 30px; border-top: none; border-left: none; border-right: none; outline: none;">
                            <!-- <option value="1">Shiko</option>
                            <option value="2">Matlala</option> -->
                            <!-- (change)="assignSupervisor(parseProjectJSON(student.project).id, admin.id)" -->
                            <option>Choose Supervisor...</option>
                            <option  *ngFor="let admin of allAdmins" value="{{admin.id}}" >{{admin.id + " "+  admin.title + " " + admin.firstName + " " + admin.lastName}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <button (click)="assignSupervisor(parseProjectJSON(student.project).id)" type="button" class="btn btn-primary btn-sm remove-outline"
                    style="margin-left:10px">Save</button>
                </td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let student of students2; let i = index">
            <h2 class="accordion-header" id="{{heading}}{{i}}">
                <button class="accordion-button remove-outline" type="button" data-bs-toggle="collapse"
                   attr.data-bs-target="#shiko{{i}}" aria-expanded="true" attr.aria-controls="shiko{{i}}"
                    style="user-select:none">
                    <div style="width:100%;color:rgb(2, 33, 80);">
                        <div style="width:100%; display: inline-flex;color:rgb(2, 33, 80); font-size: 17px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" style="font-weight:lighter">Stud ID</th>
                                        <th scope="col" style="font-weight:lighter">Full Name</th>
                                        <th scope="col" style="font-weight:lighter">Email</th>
                                        <th scope="col" style="font-weight:lighter">Current Supervisor</th>
                                        <th scope="col" style="font-weight:lighter">Change Supervisor</th>

                                        <th scope="col" style="font-weight:lighter"></th>
                                        <th scope="col" style="font-weight:lighter"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{student.id}}
                                        </td>
                                        <td>{{student.firstName + " " + student.lastName}}</td>
                                        <td>
                                            {{student.email}}
                                        </td>
                                        <td>
                                            <p *ngIf="student.supervisor == 0" style="color:red">{{parseSupervisorJSON(student.supervisor)}}</p>
                                            <p *ngIf="student.supervisor != 0" style="color:green">{{parseSupervisorJSON(student.supervisor)}}</p>
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="shiko{{i}}" class="accordion-collapse collapse " attr.aria-labelledby="{{heading}}{{i}}"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Supervisor</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <div *ngIf="showAlert == true" class="alert alert-success" style="width:100%" (click)="showAlert = false">
                                <div>
                                  <strong>Success</strong>
                                </div>
                                <div>
                                  Supervisor has been updated
                                </div>
                              </div>
                            <tr>
                                <td>
                                    <div class="inputBox" class="form-input" style="width:100%">
                                        <span style="font-size:12px; color:grey">Change / Assign Supervisor</span>
                                        <select #optionValue id="optionValue" class="form-input" 
                                            style="width:100%; height: 30px; border-top: none; border-left: none; border-right: none; outline: none;">
                                            <option>Choose Supervisor...</option>
                                            <option  *ngFor="let admin of allAdmins" value="{{admin.id}}" >{{admin.id + " "+  admin.title + " " + admin.firstName + " " + admin.lastName}}</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <button (click)="assignSupervisor(parseProjectJSON(student.project).id)" type="button" class="btn btn-primary btn-sm remove-outline"
                                        style="margin-left:10px">Save</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->
</div>