
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--NEW EDITION-->
<main style="background-color:rgb(255, 255, 255); height: 92%; position: fixed; top: 75px;">
    <div style="margin-left:auto; margin-right:auto">
        <!--heading--->
        <div class="blog-heading"><br>
            <h3><hr><br>Research Blog<br><br><hr></h3>
            <button *ngIf="userType == '2'" type="button" class="btn btn-primary bat" routerLink="/blogform">Create Post</button>
        </div><br>
        <!-- <button class="bat">Create post</button> -->
    </div>
    <div style="width:100%; overflow:scroll; height: 700px;">
        <section id="blog">
            <!---blog-container--->
            <div class="row" >
                <div class="blog-container">
                    <!---box-2--->
                    <div class="blog-box">
                        <!---img--->
                        <div class="blog-img">
                            <img src="/../assets/orch.jpg" alt="blog">
                        </div>
                        <!---text--->
                        <div class="blog-text">
                            <span>{{formatDate(testBlogObject.createdAt)}}</span><br>
                            <a routerLink="/blog-op" (click)="getBlogDetails(testBlogObject)" class="blog-title">{{testBlogObject.title}}</a>

                            <br>
                            <i *ngIf="userId == testBlogObject.userId" class="fa fa-trash" aria-hidden="true" style="float: right;"></i>
                        </div>	
                    </div>
                </div>



            </div> 
        </section>
    </div>
</main>
  