<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--NEW EDITION-->
<main style="background-color:rgb(255, 255, 255); height: 92%; position: fixed; top: 90px;">
  <div class="header">
      <h1><strong>ResearcherDNA-Blog</strong></h1>
    </div>
    
    <div class="row">
      <div class="leftcolumn" style="height: 45rem;  overflow:scroll; border:none">
        <div class="card" style="border:none">
          <h2 *ngIf="userId != blogObject.userId">{{blogObject.title}}</h2>
          <input *ngIf="userId == blogObject.userId" (focusout)="restoreBlogTitle()" (keyup)="validateBlogInputTitle()" #createBlogInputTitle type="text" class="form-control  input_table" placeholder="Blog title..." aria-label="event name" aria-describedby="basic-addon2" value="{{blogObject.title}}">   
          <h5>{{formatDate(blogObject.createdAt)}}</h5>
          <div class="fakeimg" style="height:300px;">
            <img src="/../assets/orch.jpg" alt="blog"  style="height:250px; width: 940px; "> 
          </div>
          <p *ngIf="userId != blogObject.userId">{{blogObject.post}}</p>
          <!-- <textarea name="" id="" cols="55" rows="4"></textarea><br><br> -->
          <div styl="height:20rem;">
            <textarea #createBlogInputDetails (focusout)="restoreBlogPost()" *ngIf="userId == blogObject.userId" (keyup)="validateBlogInputPost()" #createGoalInputDecription class="form-control  input-blog-description" id="exampleFormControlTextarea1" minlength=""  rows="6"  placeholder="Write here...">{{blogObject.post}}</textarea>
          </div>
          <button #submitUpdateBlog (click)="updateBlog()" class="btn" style="float: right; width:10%; position: relative; bottom: -65px ;" >Update</button>
        </div>
        
      </div>
      <div class="rightcolumn" style=" width:500px;">
        <div class="card">
          <h2>Comments</h2><hr>
          <div class="card" style="height:50px; width:auto; background-color: azure;">
            <p>Some text about me in culpa qui officia deserunt mollit anim..<i class="fa fa-trash" aria-hidden="true" style="float: right;"></i></p>
          </div>
          
          <div class="card" style="height:50px; width:auto; background-color:bisque;">
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
          </div>

          <div class="card" style="height:50px; width:auto; background-color: azure;">
            <p>Some text about me in culpa qui officia deserunt mollit anim..<i class="fa fa-trash" aria-hidden="true" style="float: right;"></i></p>
          </div>

          <div class="card" style="height:50px; width:auto; background-color:bisque;">
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
          </div>

          <div class="card" style="height:50px; width:auto; background-color: azure;">
            <p>Some text about me in culpa qui officia deserunt mollit anim..<i class="fa fa-trash" aria-hidden="true" style="float: right;"></i></p>
          </div>

          <div class="card">
            <h2>Leave a comment: </h2>
             <textarea name="" id="" cols="55" rows="4"></textarea><br><br>
             <button class="btn">Send</button>
          </div>
        

        </div>
       <!--
        <div class="card">
          <h3>Follow Us</h3>
          
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-github" aria-hidden="true"></i>
            
        </div>-->

        

      </div> 

    </div>
    
  
    <button class="tn" routerLink="/blog">Back</button>
  </main>
  