
<main>

    &nbsp;
    <div>
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!--Dropdown-->



<div class="containers">
    
        <div class="card">
            <div class="card">
                <div class="project-info-box mt-0">
                    <h5>Supervisor Feedback</h5><hr>
                    <div class="card">
                        <div class="project-info-box mt-0">
                        
                        </div>
                    </div>
                </div><!-- / project-info-box -->
            </div>


            <div class="project-info-box mt-0">
                <h5>Response:</h5><hr>
                <div class="card">
                    <textarea name="" id="" cols="50" rows="7">Write here...</textarea>
                </div><br>
                <button class="btnsend">Send</button>
            </div>
            
            
    </div>
    <button class="btnsend" routerLink="/proposal">Back</button>
</div>


  

  
    </div>
    &nbsp;
</main>
