<h1>Add a Source</h1>
<header>
 <img src="tu.png" alt="">
</header>

<br><div class="card" >
    <div class="project-info-box mt-0">
        <h5>Add source</h5>
        <hr>
        

        <form >

            <div class="title">
                <input id="name" type="text" placeholder="Write or paste link">
            </div>
            <br>
            <div class="title">
                <input id="name" type="text" placeholder="Link type">
            </div>
            <br>
            <div class="inputBox">
                <textarea type="text" width="100" id="description" placeholder="Link description..." name="" id="" cols="49"
                    rows="7"></textarea>
            </div>

            <br>
            <div class="inputButton">
                <button type="submit" class="btn" routerLink="/source-hub">Save</button>
            </div>
        </form>
    </div>
</div>
<br>
<button type="submit" class="btn" routerLink="/souce-hub">Back</button>
