<div style="background-color:rgb(255, 255, 255); position: fixed; width:100%; height:100%">
  <title>Home Page</title>
  <nav class="navbar">
    <h1 class="logo">ResearcherDNA<br><img src="../../assets/tu.png"> </h1>
    <ul class="nav-links">
      <li class="active"><a href="#"></a></li>
      
      <button class="ctn" routerLink="/login">Login</button>
      <button class="ctn" routerLink="/signup">Signup</button>
    </ul>
  </nav>

  <body>

      <div class="header-content">
        <h2>The World of Research</h2>
        <div class="line"></div>
        <h1>Reasearch to be done</h1>
        <div class="line"></div>
        <h3>Intentional grammar</h3>
        <button class="btn" routerLink="/login">Blog</button>
      </div>
 
  </body>
</div>



