<main style="background-color:rgb(255, 255, 255); height: 93%; position: fixed; top: 75px; width:82%">
    <div style="width: 100%; position:relative; top:70px;">
      <!-- <template></template> -->
      <!-- <app-guidelines></app-guidelines> -->
      <app-topnav></app-topnav>
      <div style="overflow: auto; height: 100%;">
        <!-- GRID SYSTEM -->
        <div>
        <!-- <div [innerHTML]="newTemplate | templatePipes"></div> -->
          
        </div>
        <img (click)="showGuideline = !showGuideline" src="../../../../../../../assets/media/icons/list/format_list_numbered_grey_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px" style="text-align:left">
        <!-- <div [innerHTML]="heading"></div>
        <div [innerHTML]="newTemplate | templatePipes"></div> -->
        <!-- <hr> -->
        <!-- <h1 id="user-id-1656066916" [style]="userClass">we are testing me out</h1> -->
        <div class="row overflow-auto" style="height:90%; overflow: scroll;">
          <!-- BACKLOG LIST -->
          <!-- CREATE PROJECT CARD -->
          <!-- <div class="overflow-auto">...</div> -->
          <div class="col-sm" style="width: 100%;" *ngIf="showGuideline" >
            &nbsp;
            <div class="card border-light mb-3" style="width: 100%;margin-left: auto; margin-right: auto; border: none;">
              <div class="card-header" style="width:100%; background-color:#ffffff; color:rgb(27, 27, 27);">Guidelines
                <button *ngIf="userType == 2" type="button" (click)="isUpdate = false; isAddGuideline = true; isViewGuideline = false; addNewGuideline()" class="btn btn-success btn-sm">Add</button>&nbsp;
                &nbsp;&nbsp;
              </div>  
              &nbsp;&nbsp;
              <div style="overflow: scroll; height: 400px; width: 100%; margin-left: auto; margin-right: auto;">
                <ul class="list-group" style="width: 90%; margin-left: auto; margin-right: auto;">
                  <li id="listId{{us.id}}" class="list-group-item" *ngFor = 'let us of guideLinesObject; let i=index;'>
                    <div class="row">
                      <div class="col-8">{{us.name}}</div>
                      <div class="col">
                        <a style="color:rgb(0, 0, 0); cursor: pointer;" (click)="isUpdate = false; isAddGuideline = false; isViewGuideline = true; openGuideline(us.id)" id="{{us.id}}">
                          <img src="../../../../../../../assets/media/logos/launch_black_24dp.svg" alt="ResearcherDNA-Logo" width="24px" height="24px" style="float:right">
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <div class="col overflow-auto">
              &nbsp;
              <div class="card" style="width: 18rem;" style="width: 90%; border:none;">
                <div class="card-body" style="border:none; width: 100%; padding:0 0 0 0; margin:none">
                  <div *ngIf="isGuidelineUpdateFalse" class="alert alert-danger" (click)="isAddGuideline = !isAddGuideline" role="alert">
                    <strong>Error</strong> Some value(s) are missing
                  </div>
                  <div *ngIf="isGuidelineCreateFalse" class="alert alert-danger" (click)="isAddGuideline = !isAddGuideline" role="alert">
                    <strong>Error</strong> Some value(s) are missing
                  </div>
                  <div *ngIf="isViewGuideline" class="card-body" style="width:100%; padding: 0 0; box-sizing: none; border-top: 8px;">
                      <!-- <div *ngFor="let htmlTemplate of htmlDetails; let i = index">
                        <div #myId [innerHTML]="htmlDetails[i].userHTML | templatePipes" (click)="editElement($event)"></div>
                    </div> -->
                  <div class="container-fluid" style="background-color:rgb(255, 255, 255); box-sizing: none; border-top-right-radius: 8px; border-top-left-radius: 8px;">
                      <h1 class="display-1" style="color: grey; font-family:'Times New Roman', Times, serif; font-size:40px;">{{guideLineObject.name}}</h1>
                      <!-- <h1 class="display-1">Display 1</h1> -->
                    </div>
                      <!-- <img src="..." class="img-fluid" alt="Responsive image"> -->
                    <!-- <p class="card-text">{{guideLineObject.name}}</p> -->
                    <hr>
                    <div>
                      <pre class="card-title" style="overflow-x: auto; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 15px;" >{{guideLineObject.text}}</pre>
                    </div>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">16 March 2022, Wednesday</h6> -->
                  </div>
                  <div *ngIf="isUpdate" class="card-body">
                    <input #updateGuidelineTitle class="input_table" type="text" style="outline:none; width:100%" value="{{guideLineObject.name}}">
                    <div style="height: 400px">
                      <textarea #updateGuidelineText name="" id="" cols="65" rows="15" class="input_table" style="width:100%;margin-left:auto; margin-right:auto">{{guideLineObject.text}}</textarea>
                    </div>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">16 March 2022, Wednesday</h6> -->
                  </div>
                  <div *ngIf="isAddGuideline" class="card-body">
                    <input #addGuidelineTitle class="input_table" placeholder="Enter Title" type="text" style="outline:none; width:100%">
                    <div style="height: 400px">
                      <textarea #addGuidelineText name="" placeholder="Guideline Details" id="" cols="65" rows="15" class="input_table" style="width:100%;margin-left:auto; margin-right:auto"></textarea>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                  </div>
                  <div>
                    <div *ngFor="let subGuide of subGuides">
                      <div>
                        <pre class="card-title" style="overflow-x: auto; white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 15px;" >{{subGuide.text}}</pre>

                      </div>

                    </div>
                  </div>
                  <div>
                    <div class="col-sm">
                      <ul class="nav flex-column " id="myDetails">
                        <li *ngFor="let link of links" >
                          <img src="assets/media/icons/link/link_FILL0_wght400_GRAD0_opsz48.svg" alt="ResearcherDNA-Logo" width="24px" height="24px" style="float:left; margin: 5px;"><a href="{{link.link}}"  target="_blank" class="nav-link link-dark hoverTile ng-click-active centerText">{{link.name}}</a>
                        </li>&nbsp;
                    </ul>
                    </div>
                  </div>
                  <button *ngIf="userType == 2"  type="button" (click)="isUpdate = true; isAddGuideline = false; isViewGuideline = false" class="btn btn-primary btn-xs">Edit</button>&nbsp;
                  <button *ngIf="userType == 2"  type="button" (click)="deleteGuideline(guideLineObject.name, guideLineObject.id)" class="btn btn-danger btn-xs">Delete</button>&nbsp;
                  <!-- <button type="button" class="btn btn-success btn-xs">Update</button>&nbsp;     -->
                  <button *ngIf="userType == 2"  type="button" (click)="saveUpdatedGuideline(guideLineObject.id)" class="btn btn-success btn-xs">Save</button>&nbsp;
                </div>
              </div>
          </div>
        </div>
        <!-- END GRID -->
        &nbsp;
        &nbsp;
          &nbsp;
          </div>
          &nbsp;
        </div>
    </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
